.ABCD {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.ABCD-01 {
    width: 35px;
    height: 64px;
    background-position: -1px -1px;
}

.ABCD-02 {
    width: 36px;
    height: 64px;
    background-position: -38px -1px;
}

.ABCD-03 {
    width: 37px;
    height: 64px;
    background-position: -76px -1px;
}
